@font-face {
  font-family: 'Comforta';
  src: url('/style/fonts/Comfortaa.ttf');
}
@font-face {
  font-family: 'OpenSans';
  src: url('/style/fonts/OpenSans.ttf');
}
body{
  width: 100vw;
  height: 100vh;
}
p{
  font-family: 'Comforta';
  /* color: #3339; */
}
h1{
  font-family: 'OpenSans';
  overflow-y: hidden !important;
}
button {
    padding: 0 2rem;
    font-size: 1.1rem;
    border: solid 1px black;
    border-radius: 20px;
    box-shadow: 4px 4px 10px 0px #33333347;
}
/* scroll bar */
::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    background: transparent;
  }
  
  ::-webkit-scrollbar-button {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 20px 10px;
    background: #333;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  ::-webkit-resizer {
    background: transparent;
  }